<div class="mb-4">
    <div class="card" style="border: 1px solid #ddd;">
        <div class="row">
            <div class="col-md-3 text-center">
                <h5 class="card-title mt-4">
                    <%= link_to branch.full_name, branch_by_name_path(id: branch.id, company_name: branch.company.name, branch_name: branch.name), data: {"turbolinks" => false} %>
                </h5>
                <p class="card-text" style="font-size: 24px;">★
                    <%= branch.reviews.present?  ? branch.reviews.average(:company_satisfaction_id).round(1) : "-" %>
                </p>
                <img src="<%= branch.company.logo_url %>" class="img-fluid" alt="<%= branch.company.name %>のロゴ画像" />
            </div>
            <div class="card-body col-md-9">
                <p class="card-text"><strong>営業時間：</strong><%= branch.open_hours  %></p>
                <p class="card-text"><strong>定休日：</strong><%= branch.closed_days %></p>
                <p class="card-text"><strong>住所：</strong><%= branch.full_address %></p>
                <% if branch.reviews.present? %>
                    <p class="card-text"><strong>会社の決め手：</strong><%= branch.reviews.first.chosen_company_reason %></p>
                <% end %>
            </div>
        </div>
    </div>
</div>
