<% provide(:title, @branch.full_name) %>
<div class="container my-4">
  <h1 class="mb-4">
    <%= @branch.full_name %>
  </h1>

  <div class="row">
    <div class="col-md-2">
      <img src="<%= @branch.company.logo_url %>" class="img-fluid" alt="<%= @branch.company.name %>のロゴ画像">
    </div>
    <div class="col-md-10">
        <div class="mb-4">
          <strong>キャッチコピー:</strong> <span class="d-block"><%= @branch.catch_copy %></span>
        </div>
        <div class="mb-4">
          <strong>紹介文:</strong> <span class="d-block"><%= @branch.introduction %></span>
        </div>
    </div>
  </div>

  <div class="row mt-3 mb-3 mr-4">
    <div class="col-md-4">
      <%= render partial: 'radar_chart',
                 locals: { average_responsiveness_satisfaction: @average_responsiveness_satisfaction,
                           normalized_sales_satisfaction: @normalized_sales_satisfaction,
                           normalized_sales_speed: @normalized_sales_speed } %>
    </div>
    <div class="col-md-7 ms-auto">
      <div class="branch-info mt-5">
        <h2 class="h5 fw-bold mb-4"><%= @branch.full_name %>について</h2>
          <div class="d-grid gap-2 ms-auto">
            <div><strong>企業名 :</strong> <%= @branch.company.name %></div>
            <div><strong>郵便番号 :</strong> <%= @branch.post_code %></div>
            <div><strong>住所 :</strong> <%= @branch.full_address %></div>
            <div><strong>電話番号 :</strong> <%= @branch.phone_number %></div>
            <div><strong>FAX :</strong> <%= @branch.fax_number %></div>
            <div><strong>営業時間 :</strong> <%= @branch.open_hours %></div>
            <div><strong>定休日 :</strong> <%= @branch.closed_days %></div>
          </div>
      </div>
    </div>
  </div>

  <div class="reviews mb-4">
    <h2 class="h5 fw-bold"><%= @branch.company.name %>で売却したひとの不動産会社についての口コミ
    （平均評価 <%= @branch.reviews.present? ? @average_responsiveness_satisfaction : '-' %>）</h2>
    <hr>
    <% if @branch.reviews.any? %>
      <% @branch.reviews.each do |review| %>
        <%= render partial: 'review', locals: { review: } %>
      <% end %>
    <% else %>
      <p>表示する口コミはありません。</p>
    <% end %>
  </div>

<div class="text-center mb-4">
    <%= link_to '査定依頼をする', new_assessment_request_path(from: 'branch_show', branch_id: @branch.id),
                class: 'btn btn-primary' %>
</div>
</div>
