<% provide(:title, @branch.name) %>
<div class="container my-4">
  <h1 class="mb-4">
    <%= @branch.name %>
  </h1>

<div class="row">
  <div class="col-md-2">
    <img src="<%= @branch.company.logo_url %>" class="img-fluid" alt="<%= @branch.company.name %>のロゴ画像" />
  </div>
  <div class="col-md-10">
      <div class="mb-4">
        <strong>キャッチコピー:</strong> <span class="d-block"><%= @branch.catch_copy %></span>
      </div>

      <div class="mb-4">
        <strong>紹介文:</strong> <span class="d-block"><%= @branch.introduction %></span>
      </div>
  </div>
</div>

<div class="branch-info mb-4">
  <h2 class="h4 mb-4"><%= @branch.name %>について</h2>
  <div class="row">
    <div class="col-md-6">
      <div>企業名 : <%= @branch.company.name %></div>
      <div>郵便番号 : <%= @branch.post_code %></div>
      <div>住所 : <%= @branch.full_address %></div>
    </div>
    <div class="col-md-6">
      <div>電話番号 : <%= @branch.phone_number %></div>
      <div>FAX : <%= @branch.fax_number %></div>
      <div>営業時間 : <%= @branch.open_hours %></div>
      <div>定休日 : <%= @branch.closed_days %></div>
    </div>
  </div>
</div>

<div class="reviews mb-4">
  <h2 class="h4"><%= @branch.company.name %>で売却したひとの不動産会社についての口コミ（平均評価 <%= @branch.reviews.average(:company_satisfaction_id).round(1) %>）</h2>
  <hr>
  <% @branch.reviews.each do |review| %>
    <%= render partial: "review", locals: { review: review } %>
  <% end %>
</div>

<div class="text-center"> 
  <button class="btn btn-primary">査定依頼を出す</button>
</div>
