<h1>
  <%= @branch.name %>
</h1>

<img src="<%= @company.logo_url %>" alt="<%= @company.name%>のロゴ画像" />

<div>
  <strong>キャッチコピー:</strong> <%= @branch.catch_copy %>
</div>

<div>
  <strong>紹介文:</strong> <%= @branch.introduction %>
</div>

<div class="branch-info">
  <strong><%= @branch.name %>について</strong>
  <div>
    企業名 : <%= @company.name %>
  </div>
  <div>
    郵便番号 : <%= @branch.post_code %>
  </div>
  <div>
    住所 : <%= @branch_prefecture.name %><%= @branch_city.name %><%= @branch.street_address %>
  </div>
  <div>
    電話番号 : <%= @branch.phone_number %>
  </div>
  <div>
    FAX : <%= @branch.fax_number %>
  </div>
  <div>
    営業時間 : <%= @branch.open_hours %>
  </div>
  <div>
    定休日 : <%= @branch.closed_days %>
  </div>
</div>

<div>
  <strong><%= @company.name %>で売却したひとの不動産会社についての口コミ（平均評価 星3.5）</strong>
  
  <% @reviews.each do |review| %>
    <div>
      <div><%= review.headline %> : 星<%= review.company_satisfaction_id %></div>
      <div><%= review.company_satisfaction_reason %></div>
      <div>
        成約価格 : <%= review.contract_price %>（<%= City.find(review.city_id).name %>・<%= review.sale_period %>に売却）
      </div>
    </div>
    <hr>
  <% end %>
</div>

<button>査定依頼を出す</button>

