<% provide(:title, "#{@review.branch.full_name}の口コミ") %>
<h3 class="text-center mt-4"><%= @review.headline %></h3>
<div class="container">
<h4 class="fw-bold">基本情報</h4>
    <div>売却した不動産会社名 : <%= @review.branch.full_name %></div>
    <div>住所 :  <%= @review.branch.city_address %></div>
    <div>売却の理由 : <%= SaleReason.find(@review.sale_reason_id).reason %></div>
    <div>売却経験 : <%= SalesCount.find(@review.sales_count_id).count %></div>
    <div>性別 : <%= Gender.find(@review.gender_id).gender %></div>
    <div>年齢 : <%= @review.age %></div>
    <div>物件種別 : <%= PropertyType.find(@review.property_type_id).type %></div>
    <div>契約の形態 : <%= ContractType.find(@review.contract_type_id).type %></div>
</div>

<div class="container mt-5">
    <h4 class="fw-bold">売却時に不安だったこと</h4>
    <%= @review.concerns_at_sale %>
</div>

<div class="container mt-5">
    <h4 class="fw-bold">この会社に決めた決め手</h4>
    <%= @review.chosen_company_reason %>
</div>

<div class="container mt-5">
    <h4 class="fw-bold">不動産会社の満足度</h4>
    <div>
        <strong>不動産会社の満足度 : </strong>
        <span style="font-size: 20px;">★<%= @review.company_satisfaction_id %></span>
    </div>
    <div>
        <strong>不動産会社の満足度の理由 : </strong> <%= @review.company_satisfaction_reason %>
    </div>
</div>

<div class="container mt-5">
    <h4 class="fw-bold">今後売却する人へのアドバイス</h4>
    <%= @review.advice_for_future_sellers %>
</div>

<% if @review.areas_for_improvement.present? %>
    <div class="container mt-5">
        <h4 class="fw-bold">不動産会社に改善してほしい点</h4>
        <%= @review.areas_for_improvement %>
    </div>
<% end %>

<div class="container mt-5">
    <h4 class="fw-bold">売却時期と価格について</h4>
    <div class="border border-gray p-2">
        <table class="table mt-3">
            <tbody>
                <tr>
                    <td>売却検討/価格</td>
                    <td><%= @review.sale_consideration_period %></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>査定依頼時期/価格</td>
                    <td><%= @review.appraisal_request_period %></td>
                    <td><%= (@review.appraisal_price / 10_000).floor %>万円</td>
                </tr>
                <tr>
                    <td>売出時期/価格</td>
                    <td><%= @review.listing_period %></td>
                    <td><%= (@review.sale_price / 10_000).floor %>万円</td>
                </tr>
                <tr>
                    <td>売却時期/価格</td>
                    <td><%= @review.sale_period %></td>
                    <td><%= (@review.contract_price / 10_000).floor %>万円</td>
                </tr>
                <tr>
                    <td>引き渡し時期</td>
                    <td><%= @review.transfer_period %></td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<% if @review.discounted %>
    <div class="container mt-5">
        <h4 class="fw-bold">割引時期と割引価格について</h4>
        <div>
            <strong>割引までの月数 : </strong><%= @review.months_to_discount %>ヶ月
        </div>
        <div>
            <strong>割引価格 : </strong><%= (@review.contract_price / 10_000).floor %>万円
        </div>
    </div>
<% end %>

<div class="container mt-5 mb-5">
    <h4 class="fw-bold"><%= @review.branch.full_name %>について</h4>
    <div>
        <div>郵便番号: <%= @review.branch.post_code %></div>
        <div>電話番号: <%= @review.branch.phone_number %></div>
        <div>FAX番号: <%= @review.branch.fax_number %></div>
        <div>営業時間: <%= @review.branch.open_hours %></div>
        <div>定休日: <%= @review.branch.closed_days %></div>
        <div>キャッチコピー: <%= @review.branch.catch_copy %></div>
        <div>紹介文: <%= @review.branch.introduction %></div>
        <div>住所: <%= @review.branch.full_address %></div>
    </div>
</div>
<div class="text-center mb-4">
    <%= link_to '査定依頼をする', new_assessment_request_path(branch_id: @review.branch.id), class: 'btn btn-primary' %>
</div>
