<h2>査定依頼フォーム</h2>

<% if @assessment_request_form.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @assessment_request_form.errors.to_hash(true).each do |attribute, messages| %>
        <li><%= messages.first %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!-- local: trueを書くと同期通信になる -->
<!-- リクエストを送ると必ずレスポンスを受け取る -->
<%=
  form_with(
    model: @assessment_request_form,
    url: assessment_requests_path,
    local: true,
    data: {
      controller: "assessment-request-form",
      action: 'input->assessment-request-form#switchSubmitButtonState'
    }
   ) do |form|
  %>
  <!-- イエウールの店舗IDを隠しフィールドとして渡す -->
  <!-- チュートリアルの第12章を参照 -->
  <%= hidden_field_tag :branch_id, @assessment_request_form.branch_id %>

  <div>
    <span>お名前</span>
    <div>
      <%# form.label :user_last_name %>
      <%=
        form.text_field(
          :user_last_name,
          placeholder: "田中",
          required: true,
          data: {
            assessment_request_form_target: "userLastName",
            action: "input->assessment-request-form#validateUserLastName"
          }
        )
      %>
    </div>
    <div>
      <%# form.label :user_first_name %>
      <%=
        form.text_field(
          :user_first_name,
          placeholder: "太郎",
          required: true,
          data: {
            assessment_request_form_target: "userFirstName",
            action: "input->assessment-request-form#validateUserFirstName"
          }
        )
      %>
    </div>
    <p>
      <div data-assessment-request-form-target="userLastNameErrorMessage"  class="text-danger"></div>
      <div data-assessment-request-form-target="userFirstNameErrorMessage" class="text-danger" ></div>
    </p>
  </div>

  <div>
    <span>フリガナ</span>
    <div>
      <%# form.label :user_last_name_kana %>
      <%=
        form.text_field(
          :user_last_name_kana,
          {
            placeholder: "タナカ",
            required: true,
            data: {
              assessment_request_form_target: "userLastNameKana",
              action: "input->assessment-request-form#validateUserLastNameKana"
            }
          }
        )
      %>
    </div>
    <div>
      <%# form.label :user_first_name_kana %>
      <%=
        form.text_field(
          :user_first_name_kana,
          {
            placeholder: "タロウ",
            data: {
              assessment_request_form_target: "userFirstNameKana",
              action: "input->assessment-request-form#validateUserFirstNameKana"
            }
          }
        )
      %>
    </div>
    <p>
      <div data-assessment-request-form-target="userLastNameKanaErrorMessage"  class="text-danger"></div>
      <div data-assessment-request-form-target="userFirstNameKanaErrorMessage" class="text-danger"></div>
    </p>
  </div>

  <div>
    <%= form.label :user_tel, "電話番号" %>
    <%=
      form.telephone_field(
        :user_tel,
        {
          placeholder: "09012345678",
          required: true,
          data: {
            assessment_request_form_target: "userTel",
            action: "input->assessment-request-form#validateUserTel"
          }
        }
      )
    %>
    <div data-assessment-request-form-target="userTelErrorMessage" class="text-danger"></div>
  </div>

  <div>
    <%= form.label :user_email, "メールアドレス" %>
    <%=
      form.email_field(
        :user_email,
        {
          placeholder: "test@example.jp",
          required: true,
          data: {
            assessment_request_form_target: "userEmail",
            action: "input->assessment-request-form#validateUserEmail"
          }
        }
      )
    %>
    <div data-assessment-request-form-target="userEmailErrorMessage" class="text-danger"></div>
  </div>

  <div>
    <%= form.label :property_prefecture, "物件の都道府県" %>
    <%=
      form.collection_select(
        :property_prefecture,
        @prefectures,
        :id,
        :name,
        {
          prompt: "都道府県を選択してください",
          required: true
        }
      )
    %>
  </div>

  <div>
    <%= form.label :property_city, "物件の市区町村" %>
    <%=
      form.collection_select(
        :property_city,
        @cities,
        :id,
        :name,
        {
          prompt: "市区町村を選択してください",
          required: true
        }
      )
    %>
  </div>

  <div>
    <%= form.label :property_address, "物件の住所" %>
    <%=
      form.text_field(
        :property_address,
        {
          placeholder: "港区六本木3-2-1",
          required: true,
          data: {
            assessment_request_form_target: "propertyAddress",
            action: "input->assessment-request-form#validatePropertyAddress"
          }
        }
      )
    %>
    <div data-assessment-request-form-target="propertyAddressErrorMessage" class="text-danger"></div>
  </div>

  <div>
    <%= form.label :property_type, "物件種別" %>
    <%=
      form.select(
        :property_type,
        options_for_select([
          [ '分譲マンション', 1 ],
          [ '一戸建て', 2 ],
          [ '土地', 3 ]
        ]),
        {
          include_blank: "物件種別を選択してください",
          required: true
        }
      )
    %>
  </div>

  <div>
    <%= form.label :property_exclusive_area, "専有面積" %>
    <%=
      form.number_field(
        :property_exclusive_area,
        {
          step: 0.01,
          required: true,
          data: {
            assessment_request_form_target: "propertyExclusiveArea",
            action: "input->assessment-request-form#validatePropertyExclusiveArea"
          }
        }
      )
    %>
    <div data-assessment-request-form-target="propertyExclusiveAreaErrorMessage" class="text-danger"></div>
  </div>

  <div>
    <%= form.label :property_land_area, "土地面積" %>
    <%=
      form.number_field(
        :property_land_area,
        {
          step: 0.01,
          required: true,
          data: {
            assessment_request_form_target: "propertyLandArea",
            action: "input->assessment-request-form#validatePropertyLandArea"
          }
        }
      )
    %>
    <div data-assessment-request-form-target="propertyLandAreaErrorMessage" class="text-danger"></div>
  </div>

  <div>
    <%= form.label :property_building_area, "建物面積" %>
    <span>建物面積</span>
    <div>
      <%# form.label :property_building_area, "建物面積" %>
      <%=
        form.number_field(
          :property_building_area,
          {
            step: 0.01,
            required: true,
            data: {
              assessment_request_form_target: "propertyBuildingArea",
              action: "input->assessment-request-form#validatePropertyBuildingArea"
            }
          }
        )
      %>
    </div>
    <div>
      <%# form.label :property_building_area_unit, "建物面積単位" %>
      <%=
        form.select(
          :property_building_area_unit,
          options_for_select([[ '平方メートル', 1 ], [ '坪', 2 ]]),
          {
            include_blank: "面積単位を選択してください",
            required: true
          }
        )
      %>
    </div>
    <div data-assessment-request-form-target="propertyBuildingAreaErrorMessage" class="text-danger"></div>
  </div>

  <div>
    <%= form.label :property_floor_area, "延床面積" %>
    <%=
      form.number_field(
        :property_floor_area,
        {
          step: 0.01,
          required: true,
          data: {
            assessment_request_form_target: "propertyFloorArea",
            action: "input->assessment-request-form#validatePropertyFloorArea"
          }
        }
      )
    %>
    <div data-assessment-request-form-target="propertyFloorAreaErrorMessage" class="text-danger"></div>
  </div>

  <div>
    <%= form.label :property_room_plan, "間取り" %>
    <%= form.select(
        :property_room_plan,
        options_for_select(
          [
            ['1R(ワンルーム)', 1],
            ['1K / 1DK', 2],
            ['1LK / 1LDK', 3],
            ['2K / 2DK', 4],
            ['2LK / 2LDK', 5],
            ['3K / 3DK', 6],
            ['3LK / 3LDK', 7],
            ['4K / 4DK', 8],
            ['4LK / 4LDK', 9],
            ['5K / 5DK', 10],
            ['5LK / 5LDK', 11],
            ['6K / 6DK', 12],
            ['6LK / 6LDK以上', 13]
          ]
        ),
        {
          include_blank: "間取りを選択してください",
          required: true
        }
      )
    %>
    <div data-assessment-request-form-target="propertyRoomPlanErrorMessage" class="text-danger"></div>
  </div>

  <div>
    <%= form.label :property_constructed_year, "築年数" %>
    <%=
      form.number_field(
        :property_constructed_year,
        {
          placeholder: "2016",
          in: 1925..2016,
          required: true,
          data: {
            assessment_request_form_target: "propertyConstructedYear",
            action: "input->assessment-request-form#validatePropertyConstructedYear"
          }
        }
      )
    %>
    <div data-assessment-request-form-target="propertyConstructedYearErrorMessage" class="text-danger"></div>
  </div>

  <div>
    <%=
      form.submit(
        "査定依頼を送信する",
        {
          disabled: true,
          data: {
            assessment_request_form_target: "submitButton"
          }
        }
      )
    %>
  </div>

  <%= debug(params) if Rails.env.development? %>
<% end %>